<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="iot:deviceBatch:downDemo" type="button"
                                class="btn btn-primary" onclick="downDemo()">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>下载批量模板
                        </button>
                        <button shiro:hasPermission="iot:deviceBatch:batchAdd" type="button"
                                class="btn btn-primary" onclick="batchAdd()">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>批量添加
                        </button>
                        <input type="file" id="batchFile" name="file" onchange="submitForm()" style="display:none;"/>
                    </div>
                </div>

                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" th:src="@{/js/appjs/iot/deviceBatch/deviceBatch.js}"></script>
</body>
</html>