<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="iot:serviceMode:syncServiceModes" type="button"
                                class="btn btn-primary" onclick="syncServiceModes()">
                            <i class="fa fa-plus hidden" aria-hidden="true"></i>同步IoT业务模式
                        </button>
                    </div>
                </div>

                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>

<div th:include="include::footer"></div>
<script type="text/javascript" th:src="@{/js/appjs/iot/serviceMode/serviceMode.js}"></script>
</body>
</html>