<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!--ibox-->
            <div class="ibox">
                <!--ibox-title-->
                <div class="ibox-title" style="padding-bottom: 0;">
                    <h3 class="text-center">MyLamp指令集</h3>
                    <div class="gg-nav">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#command_info" data-toggle="tab">DeviceCmd</a></li>、
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="ibox-content tab-pane fade in active" id="command_info">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <form class="form-horizontal m-t" id="signupForm">
                                    <input type="hidden" name="deviceId" value="56" th:value="${deviceId}">
                                    <input type="hidden" name="commandId" value="DeviceCmd">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">开关一：</label>
                                        <div class="controls col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="Switch1" value="on"> 开启
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="Switch1" value="off"> 关闭
                                            </label>
                                        </div>

                                        <label for="Period1" class="col-sm-2 control-label">开关时段一：</label>
                                        <div class="col-sm-4">
                                            <input id="Period1" name="Period1" class="form-control" type="text" placeholder="格式：00001200 （00:00-12:00）">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">开关二：</label>
                                        <div class="controls col-sm-4" >
                                            <label class="radio-inline">
                                                <input type="radio" name="Switch2" value="on"> 开启
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="Switch2" value="off"> 关闭
                                            </label>
                                        </div>

                                        <label for="Period2" class="col-sm-2 control-label">开关时段二：</label>
                                        <div class="col-sm-4">
                                            <input id="Period2" name="Period2" class="form-control" type="text" placeholder="格式：12002400 （12:00-24:00）">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">开关一控制模式：</label>
                                        <div class="controls col-sm-4" >
                                            <label class="radio-inline">
                                                <input type="radio" name="SwitchMode1" value="on"> 开启
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="SwitchMode1" value="off"> 关闭
                                            </label>
                                        </div>

                                        <label class="col-sm-2 control-label">开关二控制模式：</label>
                                        <div class="controls col-sm-4" >
                                            <label class="radio-inline">
                                                <input type="radio" name="SwitchMode2" value="on"> 开启
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="SwitchMode2" value="off"> 关闭
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="GPS" class="col-sm-2 control-label">GPS：</label>
                                        <div class="col-sm-10">
                                            <input id="GPS" name="GPS" class="form-control" type="text" placeholder="格式：140.979473448.75534124 （经度140.9794734，纬度48.75534124）">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="GeneralDataBuffer" class="col-sm-2 control-label">通用数据通道：</label>
                                        <div class="col-sm-10">
                                            <input id="GeneralDataBuffer" name="GeneralDataBuffer" class="form-control imput-lg"
                                                   type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-3">
                                            <button type="submit" class="btn btn-primary">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="include::footer"></div>
<script type="text/javascript" th:src="@{/js/appjs/iot/device/command.js}">
</script>
</body>
</html>