<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="iot:device:syncDevices" type="button"
                                class="btn btn-primary" onclick="syncDevices()">
                            <i class="fa fa-refresh" aria-hidden="true"></i>同步IoT设备
                        </button>
                        <button shiro:hasPermission="iot:device:add" type="button"
                                class="btn btn-primary" onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加设备
                        </button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>

                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="name" type="text" class="form-control"
                               placeholder="设备名称">
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="devSerial" type="text" class="form-control"
                               placeholder="序列号">
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <select id="alarmStatus" name="alarmStatus" data-placeholder="预警状态" class="form-control chosen-select"
                                tabindex="2" style="width: 100%">
                            <option value="">选择预警状态</option>
                            <option value="1">预警中</option>
                            <option value="0">正常</option>
                        </select>
                    </div>
                </div>

                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <script type="text/javascript">
        var s_view_h = 'hidden';
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_syncDevice_h = 'hidden';
        var s_command_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="iot:device:view">
    <script type="text/javascript">
        s_view_h = '';
    </script>
</div>
<div shiro:hasPermission="iot:device:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="iot:device:remove">
    <script type="text/javascript">
        s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="iot:device:syncDevice">
    <script type="text/javascript">
        s_syncDevice_h = '';
    </script>
</div>
<div shiro:hasPermission="iot:device:command">
    <script type="text/javascript">
        s_command_h = '';
    </script>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/iot-manage/js/appjs/iot/device/device.js"></script>
</body>
</html>