<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>

                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="title" type="text" class="form-control"
                               placeholder="标题">
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <select id="status" data-placeholder="状态"
                                class="form-control" tabindex="2" style="width: 100%">
                            <option value="">请选择状态</option>
                            <option value="0">未读</option>
                            <option value="1">已读</option>
                        </select>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
    <!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
    <div>
        <script type="text/javascript">
            var s_check_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="sys:noticeRecord:check">
        <script type="text/javascript">
            s_check_h = '';
        </script>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" th:src="@{/js/appjs/sys/noticeRecord/noticeRecord.js}"></script>
</body>
</html>