<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrawl.iot.web.dao.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.scrawl.iot.web.dao.entity.Account">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="server_id" jdbcType="VARCHAR" property="serverId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_manager" jdbcType="INTEGER" property="createManager" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_manager" jdbcType="INTEGER" property="updateManager" />
  </resultMap>
  <sql id="Base_Column_List">
    id, server_id, `password`, `status`, token, last_login_time, create_time, create_manager, 
    update_time, update_manager
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_iot_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_iot_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scrawl.iot.web.dao.entity.Account">
    insert into t_iot_account (id, server_id, `password`, 
      `status`, token, last_login_time, 
      create_time, create_manager, update_time, 
      update_manager)
    values (#{id,jdbcType=INTEGER}, #{serverId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{token,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createManager,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateManager,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.scrawl.iot.web.dao.entity.Account">
    insert into t_iot_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serverId != null">
        server_id,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createManager != null">
        create_manager,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateManager != null">
        update_manager,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serverId != null">
        #{serverId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createManager != null">
        #{createManager,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateManager != null">
        #{updateManager,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrawl.iot.web.dao.entity.Account">
    update t_iot_account
    <set>
      <if test="serverId != null">
        server_id = #{serverId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createManager != null">
        create_manager = #{createManager,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateManager != null">
        update_manager = #{updateManager,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrawl.iot.web.dao.entity.Account">
    update t_iot_account
    set server_id = #{serverId,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      token = #{token,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_manager = #{createManager,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_manager = #{updateManager,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectPageList" parameterType="com.scrawl.iot.web.vo.iot.account.AccountListReqVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_iot_account
    where 1=1
    <include refid="select_page_where" />
    limit #{offset}, #{limit}
  </select>
  <select id="selectPageCount" parameterType="com.scrawl.iot.web.vo.iot.account.AccountListReqVO" resultType="java.lang.Integer">
    select count(*)
    from t_iot_account
    where 1=1
    <include refid="select_page_where" />
  </select>
  <sql id="select_page_where">
    <if test="serverId != null and serverId != ''">
      and server_id = #{serverId}
    </if>
  </sql>
  <select id="selectListBySelective" parameterType="com.scrawl.iot.web.dao.entity.Account" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from t_iot_account
    where 1=1
    <include refid="select_id_where"/>
  </select>
  <sql id="select_id_where">
    <if test="serverId != null and serverId != ''">
      and server_id = #{serverId}
    </if>
    <if test="status != null">
      and `status` = #{status}
    </if>
  </sql>
  <sql id="Alias_Column_List">
    a.id, a.server_id as serverId, a.`password`, a.`status`, a.token, a.last_login_time as lastLoginTime,
    a.create_time as createTime, a.create_manager as createManager, a.update_time as updateTime, a.update_manager as updateManager
  </sql>
  <select id="selectAccountListByManager" parameterType="int" resultType="com.scrawl.iot.web.vo.sys.manager.ManagerAccountRespVO">
    SELECT
      <include refid="Alias_Column_List"/> ,
    IF(
    (SELECT id FROM t_sys_manager_account ma WHERE ma.account_id = a.`id` AND ma.manager_id=#{managerId}) IS NOT NULL, 'true', 'false') AS accountSign
    FROM t_iot_account a
  </select>
  <select id="selectByServerId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from t_iot_account where server_id=#{serverId}
  </select>
  <select id="selectManagerAccountList" parameterType="java.lang.Integer" resultType="com.scrawl.iot.web.dao.entity.Account">
    select
      <include refid="Alias_Column_List"/>
    from t_iot_account a
    inner join t_sys_manager_account mr on a.id = mr.account_id
    where mr.manager_id=#{managerId}
  </select>
</mapper>