<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrawl.iot.web.dao.mapper.DevTypeCommandParamMapper">
  <resultMap id="BaseResultMap" type="com.scrawl.iot.web.dao.entity.DevTypeCommandParam">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="command_id" jdbcType="INTEGER" property="commandId" />
    <result column="param_type" jdbcType="TINYINT" property="paramType" />
    <result column="param_name" jdbcType="VARCHAR" property="paramName" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="pos" jdbcType="INTEGER" property="pos" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, command_id, param_type, param_name, data_type, pos, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_iot_dev_type_command_param
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_iot_dev_type_command_param
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scrawl.iot.web.dao.entity.DevTypeCommandParam">
    insert into t_iot_dev_type_command_param (id, command_id, param_type, 
      param_name, data_type, pos, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{commandId,jdbcType=INTEGER}, #{paramType,jdbcType=TINYINT},
      #{paramName,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{pos,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.scrawl.iot.web.dao.entity.DevTypeCommandParam">
    insert into t_iot_dev_type_command_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commandId != null">
        command_id,
      </if>
      <if test="paramType != null">
        param_type,
      </if>
      <if test="paramName != null">
        param_name,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="pos != null">
        pos,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commandId != null">
        #{commandId,jdbcType=INTEGER},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=TINYINT},
      </if>
      <if test="paramName != null">
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="pos != null">
        #{pos,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrawl.iot.web.dao.entity.DevTypeCommandParam">
    update t_iot_dev_type_command_param
    <set>
      <if test="commandId != null">
        command_id = #{commandId,jdbcType=INTEGER},
      </if>
      <if test="paramType != null">
        param_type = #{paramType,jdbcType=TINYINT},
      </if>
      <if test="paramName != null">
        param_name = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="pos != null">
        pos = #{pos,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrawl.iot.web.dao.entity.DevTypeCommandParam">
    update t_iot_dev_type_command_param
    set command_id = #{commandId,jdbcType=INTEGER},
      param_type = #{paramType,jdbcType=TINYINT},
      param_name = #{paramName,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      pos = #{pos,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCommandIdAndName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_iot_dev_type_command_param
    where command_id=#{commandId} and param_name=#{name}
  </select>
  <select id="selectByCommandIdAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_iot_dev_type_command_param
    where command_id=#{commandId} and param_type = #{type}
  </select>
</mapper>