<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrawl.iot.web.dao.mapper.DevTypeMessageMapper">
  <resultMap id="BaseResultMap" type="com.scrawl.iot.web.dao.entity.DevTypeMessage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dev_type_id" jdbcType="INTEGER" property="devTypeId" />
    <result column="message_id" jdbcType="VARCHAR" property="messageId" />
    <result column="message_name" jdbcType="VARCHAR" property="messageName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dev_type_id, message_id, message_name, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_iot_dev_type_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_iot_dev_type_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scrawl.iot.web.dao.entity.DevTypeMessage">
    insert into t_iot_dev_type_message (id, dev_type_id, message_id, 
      message_name, create_time)
    values (#{id,jdbcType=INTEGER}, #{devTypeId,jdbcType=INTEGER}, #{messageId,jdbcType=VARCHAR}, 
      #{messageName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.scrawl.iot.web.dao.entity.DevTypeMessage" useGeneratedKeys="true" keyProperty="id">
    insert into t_iot_dev_type_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="devTypeId != null">
        dev_type_id,
      </if>
      <if test="messageId != null">
        message_id,
      </if>
      <if test="messageName != null">
        message_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="devTypeId != null">
        #{devTypeId,jdbcType=INTEGER},
      </if>
      <if test="messageId != null">
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="messageName != null">
        #{messageName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrawl.iot.web.dao.entity.DevTypeMessage">
    update t_iot_dev_type_message
    <set>
      <if test="devTypeId != null">
        dev_type_id = #{devTypeId,jdbcType=INTEGER},
      </if>
      <if test="messageId != null">
        message_id = #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="messageName != null">
        message_name = #{messageName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrawl.iot.web.dao.entity.DevTypeMessage">
    update t_iot_dev_type_message
    set dev_type_id = #{devTypeId,jdbcType=INTEGER},
      message_id = #{messageId,jdbcType=VARCHAR},
      message_name = #{messageName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByTypeIdAndName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_iot_dev_type_message
    where dev_type_id = #{typeId} and message_name = #{name}
  </select>
  <select id="selectByTypeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_iot_dev_type_message
    where dev_type_id=#{selectByTypeId}
  </select>
  <select id="selectByDevTypeAndMessageId" resultType="com.scrawl.iot.web.dao.entity.DevTypeMessage">
    select tm.id, tm.dev_type_id as devTypeId, tm.message_id as messageId, tm.message_name as messageName, tm.create_time as createTime
    from t_iot_dev_type_message tm
    inner join t_iot_dev_type dt on tm.dev_type_id = dt.id
    where tm.message_id = #{messageId} and dt.dev_type = #{devType}
  </select>
</mapper>