<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrawl.iot.web.dao.mapper.DevTypeMapper">
  <resultMap id="BaseResultMap" type="com.scrawl.iot.web.dao.entity.DevType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="server_id" jdbcType="VARCHAR" property="serverId" />
    <result column="dev_type" jdbcType="VARCHAR" property="devType" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="alarm_service" jdbcType="VARCHAR" property="alarmService" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, server_id, dev_type, del_flag, alarm_service, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_iot_dev_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_iot_dev_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scrawl.iot.web.dao.entity.DevType">
    insert into t_iot_dev_type (id, server_id, dev_type, 
      del_flag, alarm_service, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{serverId,jdbcType=VARCHAR}, #{devType,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT}, #{alarmService,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scrawl.iot.web.dao.entity.DevType" useGeneratedKeys="true" keyProperty="id">
    insert into t_iot_dev_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serverId != null">
        server_id,
      </if>
      <if test="devType != null">
        dev_type,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="alarmService != null">
        alarm_service,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serverId != null">
        #{serverId,jdbcType=VARCHAR},
      </if>
      <if test="devType != null">
        #{devType,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="alarmService != null">
        #{alarmService,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrawl.iot.web.dao.entity.DevType">
    update t_iot_dev_type
    <set>
      <if test="serverId != null">
        server_id = #{serverId,jdbcType=VARCHAR},
      </if>
      <if test="devType != null">
        dev_type = #{devType,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="alarmService != null">
        alarm_service = #{alarmService,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrawl.iot.web.dao.entity.DevType">
    update t_iot_dev_type
    set server_id = #{serverId,jdbcType=VARCHAR},
      dev_type = #{devType,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT},
      alarm_service = #{alarmService,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.scrawl.iot.web.dao.entity.DevType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_iot_dev_type
    where 1=1
    <include refid="select_list_where" />
  </select>
  <sql id="select_list_where">
    <if test="serverId != null and serverId != ''">
      and server_id = #{serverId}
    </if>
    <if test="devType != null and devType != ''">
      and dev_type = #{devType}
    </if>
    <if test="delFlag != null and delFlag != ''">
      and del_flag = #{delFlag}
    </if>
  </sql>
  <sql id="select_page_where">
    <if test="serverId != null and serverId != ''">
      and server_id = #{serverId}
    </if>
    <if test="devType != null and devType != ''">
      and dev_type = #{devType}
    </if>
    <if test="delFlag != null and delFlag != ''">
      and del_flag = #{delFlag}
    </if>
    <if test="serverIds != null and serverIds.size() &gt; 0">
      and server_id in
      <foreach close=")" collection="serverIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
  </sql>
  <select id="selectPageList" parameterType="com.scrawl.iot.web.vo.iot.devType.DevTypeListReqVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_iot_dev_type
    where 1=1
    <include refid="select_page_where" />
    limit #{offset}, #{limit}
  </select>
  <select id="selectPageCount" parameterType="com.scrawl.iot.web.vo.iot.devType.DevTypeListReqVO" resultType="java.lang.Integer">
    select count(*)
    from t_iot_dev_type
    where 1=1
    <include refid="select_page_where" />
  </select>
  <select id="selectByServerIdAndDevType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_iot_dev_type
    where dev_type=#{devType} and server_id = #{serverId}
  </select>
</mapper>