<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrawl.iot.web.dao.mapper.ManagerRoleMapper">
  <resultMap id="BaseResultMap" type="com.scrawl.iot.web.dao.entity.ManagerRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_manager" jdbcType="INTEGER" property="createManager" />
  </resultMap>
  <sql id="Base_Column_List">
    id, manager_id, role_id, create_time, create_manager
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_manager_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_manager_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scrawl.iot.web.dao.entity.ManagerRole">
    insert into t_sys_manager_role (id, manager_id, role_id, 
      create_time, create_manager)
    values (#{id,jdbcType=INTEGER}, #{managerId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createManager,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.scrawl.iot.web.dao.entity.ManagerRole">
    insert into t_sys_manager_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createManager != null">
        create_manager,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createManager != null">
        #{createManager,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrawl.iot.web.dao.entity.ManagerRole">
    update t_sys_manager_role
    <set>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createManager != null">
        create_manager = #{createManager,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrawl.iot.web.dao.entity.ManagerRole">
    update t_sys_manager_role
    set manager_id = #{managerId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_manager = #{createManager,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByManagerId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_manager_role
    where manager_id = #{managerId}
  </select>
  <select id="selectRoleIdsByManagerId" parameterType="int" resultType="java.lang.Integer">
    select distinct role_id
    from t_sys_manager_role
    where manager_id = #{managerId}
  </select>
  <delete id="deleteByManagerIdAndRoleId">
    delete from t_sys_manager_role where manager_id = #{managerId} and role_id = #{roleId}
  </delete>
  <delete id="deleteByManagerId">
    delete from t_sys_manager_role where manager_id = #{managerId}
  </delete>
</mapper>