<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrawl.iot.web.dao.mapper.NoticeRecordMapper">
  <resultMap id="BaseResultMap" type="com.scrawl.iot.web.dao.entity.NoticeRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="read_time" jdbcType="TIMESTAMP" property="readTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, manager_id, `type`, title, content, `status`, read_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_notice_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_notice_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scrawl.iot.web.dao.entity.NoticeRecord">
    insert into t_sys_notice_record (id, manager_id, `type`, 
      title, content, `status`, 
      read_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{managerId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{readTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.scrawl.iot.web.dao.entity.NoticeRecord">
    insert into t_sys_notice_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="readTime != null">
        read_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="readTime != null">
        #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrawl.iot.web.dao.entity.NoticeRecord">
    update t_sys_notice_record
    <set>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="readTime != null">
        read_time = #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrawl.iot.web.dao.entity.NoticeRecord">
    update t_sys_notice_record
    set manager_id = #{managerId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=TINYINT},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      read_time = #{readTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectPageList" parameterType="com.scrawl.iot.web.vo.sys.notice.NoticeRecordListReqVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_notice_record
    where 1=1
    <include refid="select_page_where" />
  </select>
  <select id="selectPageCount" parameterType="com.scrawl.iot.web.vo.sys.notice.NoticeRecordListReqVO" resultType="java.lang.Integer">
    select count(*)
    from t_sys_notice_record
    where 1=1
    <include refid="select_page_where" />
  </select>
  <sql id="select_page_where">
    <if test="title != null and title != ''">
      and title = #{title}
    </if>
    <if test="managerId != null">
      and manager_id = #{managerId}
    </if>
  </sql>
</mapper>