<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrawl.iot.web.dao.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.scrawl.iot.web.dao.entity.Task">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_group" jdbcType="VARCHAR" property="jobGroup" />
    <result column="job_status" jdbcType="VARCHAR" property="jobStatus" />
    <result column="spring_bean" jdbcType="VARCHAR" property="springBean" />
    <result column="bean_class" jdbcType="VARCHAR" property="beanClass" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="is_concurrent" jdbcType="TINYINT" property="isConcurrent" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_manager" jdbcType="INTEGER" property="createManager" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_manager" jdbcType="INTEGER" property="updateManager" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cron_expression, job_name, job_group, job_status, spring_bean, bean_class, method_name, 
    is_concurrent, description, create_manager, create_time, update_manager, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.scrawl.iot.web.dao.entity.Task">
    insert into t_sys_task (id, cron_expression, job_name, 
      job_group, job_status, spring_bean, 
      bean_class, method_name, is_concurrent, 
      description, create_manager, create_time, 
      update_manager, update_time)
    values (#{id,jdbcType=BIGINT}, #{cronExpression,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, 
      #{jobGroup,jdbcType=VARCHAR}, #{jobStatus,jdbcType=VARCHAR}, #{springBean,jdbcType=VARCHAR},
      #{beanClass,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, #{isConcurrent,jdbcType=TINYINT}, 
      #{description,jdbcType=VARCHAR}, #{createManager,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateManager,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.scrawl.iot.web.dao.entity.Task">
    insert into t_sys_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cronExpression != null">
        cron_expression,
      </if>
      <if test="jobName != null">
        job_name,
      </if>
      <if test="jobGroup != null">
        job_group,
      </if>
      <if test="jobStatus != null">
        job_status,
      </if>
      <if test="springBean != null">
        spring_bean,
      </if>
      <if test="beanClass != null">
        bean_class,
      </if>
      <if test="methodName != null">
        method_name,
      </if>
      <if test="isConcurrent != null">
        is_concurrent,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createManager != null">
        create_manager,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateManager != null">
        update_manager,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cronExpression != null">
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null">
        #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null">
        #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="springBean != null">
        #{springBean,jdbcType=VARCHAR},
      </if>
      <if test="beanClass != null">
        #{beanClass,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="isConcurrent != null">
        #{isConcurrent,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createManager != null">
        #{createManager,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateManager != null">
        #{updateManager,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrawl.iot.web.dao.entity.Task">
    update t_sys_task
    <set>
      <if test="cronExpression != null">
        cron_expression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null">
        job_group = #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null">
        job_status = #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="springBean != null">
        spring_bean = #{springBean,jdbcType=VARCHAR},
      </if>
      <if test="beanClass != null">
        bean_class = #{beanClass,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="isConcurrent != null">
        is_concurrent = #{isConcurrent,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createManager != null">
        create_manager = #{createManager,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateManager != null">
        update_manager = #{updateManager,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrawl.iot.web.dao.entity.Task">
    update t_sys_task
    set cron_expression = #{cronExpression,jdbcType=VARCHAR},
      job_name = #{jobName,jdbcType=VARCHAR},
      job_group = #{jobGroup,jdbcType=VARCHAR},
      job_status = #{jobStatus,jdbcType=VARCHAR},
      spring_bean = #{springBean,jdbcType=VARCHAR},
      bean_class = #{beanClass,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      is_concurrent = #{isConcurrent,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      create_manager = #{createManager,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_manager = #{updateManager,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectPageList" parameterType="com.scrawl.iot.web.vo.sys.job.JobListReqVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_task
    where 1=1
    <include refid="select_page_where"/>
    limit #{offset}, #{limit}
  </select>
  <select id="selectCountList" parameterType="com.scrawl.iot.web.vo.sys.job.JobListReqVO" resultType="java.lang.Integer">
    select count(*)
    from t_sys_task
    where 1=1
    <include refid="select_page_where"/>
  </select>
  <sql id="select_page_where">
    <if test="jobName != null and jobName != ''">
      and job_name = #{jobName}
    </if>
  </sql>
  <select id="selectBySelective" parameterType="com.scrawl.iot.web.dao.entity.Task" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_task
    where 1=1
    <include refid="select_list_where"/>
  </select>
  <sql id="select_list_where">
    <if test="jobName != null and jobName != ''">
      and job_name = #{jobName}
    </if>
  </sql>
</mapper>